name: 'Test'
on: [push, pull_request]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - run: |
                  npm ci
            - run: |
                  npm run build

    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - run: |
                  npm install
            - run: |
                  npm run test:unit

    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - run: |
                  npm install
            - run: |
                  npm run lint

    tsc:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - run: |
                  npm install
            - run: |
                  npm run type-check

    json_lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - run: |
                  node bin/lint_json.js
